:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --botao-vermelho: #FF0000;
    --fonte-principal: "Inter";

 }
 body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size:16px;
    font-weight:400;
 }
 * {
    margin: 0;
    padding: 0;
 }

 .principal {
    background-image: url("backgraound.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;

 }

 .container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

 .container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display:block;
    text-decoration: none;
    margin-bottom: 1em;
 }
 .botao_secundario {
    background-color: var(--botao-vermelho);
 }

  .botao_terciario {
   background-color: var(--botao-azul) ;
 }

.botao_quaternario {
   background-color: red;
}

.container__titulo {
    color: var(--botao-vermelho);
    font-size:28px;
    font-weight: 700;
}

.container__texto {
   color: var(--botao-vermelho);
   font-size:28px;
   font-weight: 400;
}
.container__caixa {
    margin: 0 6em;

}
.rodape {
    display: flex;
    justify-content:center;
    list-style-type:none;
    margin-top: 1em 0;
    color: var(--cinza-secundario);
    font-size:14px;
    text-align: center;
    margin: 5em 3em;
}

 